<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  日志格式  -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{10}:%msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">    
        <encoder>    
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>   
        </encoder>    
    </appender>    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">    
        <File>./log/elasticsearch.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
            <fileNamePattern>log/elasticsearch.%d.%i.log</fileNamePattern>
            <!-- 每产生一个日志文件，该日志文件的保存期限为30天 --> 
            <maxHistory>30</maxHistory>   
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">    
                <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->  
                <maxFileSize>20MB</maxFileSize>    
            </timeBasedFileNamingAndTriggeringPolicy>    
        </rollingPolicy>    
        <encoder>    
            <!-- pattern节点，用来设置日志的输入格式 -->
            <pattern>
                ${PATTERN}
            </pattern>    
            <!-- 记录日志的编码:此处设置字符集 - -->
            <charset>UTF-8</charset>
        </encoder>    
    </appender>    
    <!-- 控制台输出日志级别 -->
    <root level="info">
        <appender-ref ref="STDOUT" />    
        <appender-ref ref="FILE" />
    </root>    
</configuration>